@charset "UTF-8";
body { font-size: 14px; }

p { line-height: 1.6; }

input { text-indent: 1em; border: none; }
input::-webkit-input-placeholder { /*WebKit browsers*/ color: #999; }
input::-moz-input-placeholder { /*Mozilla Firefox*/ color: #999; }
input::-ms-input-placeholder { /*Internet Explorer*/ color: #999; }
input[type="submit"] { text-indent: 0; cursor: pointer; }

input[type="submit"] { text-indent: 0; font-family: "微软雅黑"; border: none; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

i, a, .gj-head .head-l .sc-logo, .gj-head .head-l .sc-logo::before, .gj-banner #banner .hd li, .gj-sp .sp-r .v-time span, .gj-tt .tt-cont .avatar, .gj-sc ul, .gj-sc .sc-title, .gj-zs .zs-l li, .gj-popup .popup-cont .sign-in a { display: inline-block; *zoom: 1; *display: inline; }

a { -webkit-box-sizing: border-box; box-sizing: border-box; }

.gj-head, .gj-sp .wrap, .gj-sp .sp-l .l-cont, .gj-tt .tt-cont ul, .gj-zs .zs-cont, .gj-adv .adv-cont ul, .gj-ap .ap-cont, .gj-ap .ap-l ul, .gj-c .c-cont ul, .gj-t .t-cont, .gj-ca .ca-cont ul, .gj-ce .wrap { zoom: 1; }
.gj-head:after, .gj-sp .wrap:after, .gj-sp .sp-l .l-cont:after, .gj-tt .tt-cont ul:after, .gj-zs .zs-cont:after, .gj-adv .adv-cont ul:after, .gj-ap .ap-cont:after, .gj-ap .ap-l ul:after, .gj-c .c-cont ul:after, .gj-t .t-cont:after, .gj-ca .ca-cont ul:after, .gj-ce .wrap:after { clear: both; }
.gj-head:before, .gj-sp .wrap:before, .gj-sp .sp-l .l-cont:before, .gj-tt .tt-cont ul:before, .gj-zs .zs-cont:before, .gj-adv .adv-cont ul:before, .gj-ap .ap-cont:before, .gj-ap .ap-l ul:before, .gj-c .c-cont ul:before, .gj-t .t-cont:before, .gj-ca .ca-cont ul:before, .gj-ce .wrap:before, .gj-head:after, .gj-sp .wrap:after, .gj-sp .sp-l .l-cont:after, .gj-tt .tt-cont ul:after, .gj-zs .zs-cont:after, .gj-adv .adv-cont ul:after, .gj-ap .ap-cont:after, .gj-ap .ap-l ul:after, .gj-c .c-cont ul:after, .gj-t .t-cont:after, .gj-ca .ca-cont ul:after, .gj-ce .wrap:after { content: ""; display: table; }

.wrap { width: 1200px; margin: 0 auto; color: #333333; font-size: 14px; }

.gj-btn { background-image: linear-gradient(-86deg, #fb8513 0%, #dc4343 100%), linear-gradient(#f47a45, #f47a45); background-blend-mode: normal, normal; -webkit-box-shadow: 0px 4px 8px 0px rgba(220, 67, 67, 0.32); box-shadow: 0px 4px 8px 0px rgba(220, 67, 67, 0.32); }

.gj-head .head-l { padding: 14px 0; }
.gj-head .head-l .sc-logo::before { content: ""; width: 1px; height: 44px; background-color: #eeeeee; vertical-align: middle; margin-left: 10px; }
.gj-head .head-l .sc-logo img { vertical-align: middle; }
.gj-head .head-r { padding: 34px 0; }
.gj-head .head-r .icon { width: 32px; height: 32px; background: url(../images/icon_1.png) no-repeat; margin-right: 8px; }
.gj-head .head-r .r-item { height: 32px; font-size: 20px; line-height: 32px; color: #2a3a88; margin-left: 20px; }
.gj-head .head-r .r-item:nth-of-type(2) .icon { background: url(../images/icon_2.png) no-repeat; }
.gj-head .head-r .icon, .gj-head .head-r span { vertical-align: middle; }

.gj-banner #banner { position: relative; }
.gj-banner #banner .hd { position: absolute; bottom: 20px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.gj-banner #banner .hd ul { height: 18px; background-color: #333333; border-radius: 9px; opacity: 0.4; padding: 3px 4px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.gj-banner #banner .hd li { width: 12px; height: 12px; background-color: #ffffff; opacity: 0.5; border-radius: 50%; margin-right: 10px; }
.gj-banner #banner .hd li:last-child { margin-right: 0; }
.gj-banner #banner .hd li.on { opacity: 1; }

.gj-title { color: #999999; }
.gj-title span { font-size: 28px; color: #333333; margin-right: 6px; }

.gj-blue-btn { height: 40px; line-height: 40px; background-color: #2a3a88; }

.gj-red-btn { height: 40px; line-height: 40px; background-color: #f05630; }

.gj-sp { padding: 40px 0 60px; }
.gj-sp .sp-l { width: 860px; }
.gj-sp .sp-l .l-cont img { margin-right: 30px; }
.gj-sp .sp-l .cont-detail { width: 462px; }
.gj-sp .sp-l .detail-title { font-size: 24px; line-height: 24px; margin-bottom: 20px; }
.gj-sp .sp-l p { color: #666666; }
.gj-sp .sp-l a { color: #2a3a88; }
.gj-sp .sp-l .rx { border-top: 1px solid #eeeeee; margin-top: 10px; padding: 15px 0 20px; }
.gj-sp .sp-l .rx .icon { width: 24px; height: 24px; background: url(../images/icon_3.png) no-repeat; margin-right: 8px; }
.gj-sp .sp-l .rx span { font-size: 18px; line-height: 24px; color: #2a3a88; font-weight: bold; }
.gj-sp .sp-l .rx .icon, .gj-sp .sp-l .rx span { vertical-align: middle; }
.gj-sp .sp-l .detail-btn a { color: #fff; padding: 0 20px; margin-right: 8px; }
.gj-sp .sp-l .detail-btn .icon { width: 14px; height: 14px; background: url(../images/icon_4.png) no-repeat; margin-left: 4px; }
.gj-sp .sp-l .detail-btn span, .gj-sp .sp-l .detail-btn .icon { vertical-align: middle; }
.gj-sp .sp-r { width: 320px; height: 336px; background-image: -webkit-gradient(linear, left bottom, left top, from(#2a3a88), to(#3e50a9)), -webkit-gradient(linear, left top, left bottom, from(#2a3a88), to(#2a3a88)); background-image: linear-gradient(0deg, #2a3a88 0%, #3e50a9 100%), linear-gradient(#2a3a88, #2a3a88); background-blend-mode: normal, normal; }
.gj-sp .sp-r .r-visit { padding: 20px 0; }
.gj-sp .sp-r .v-title { font-size: 26px; line-height: 26px; color: #ffffff; text-align: center; margin-bottom: 12px; position: relative; }
.gj-sp .sp-r .v-title span { color: #ff7452; }
.gj-sp .sp-r .v-title::after { content: ""; width: 20px; height: 3px; background-color: #ffffff; border-radius: 2px; position: absolute; left: 0; right: 0; bottom: -9px; margin: auto; }
.gj-sp .sp-r .v-subtitle { line-height: 26px; color: #a9b5f3; text-align: center; }
.gj-sp .sp-r .v-time { color: #fff; text-align: center; font-size: 18px; padding: 16px 0; }
.gj-sp .sp-r .v-time span { width: 32px; height: 32px; line-height: 32px; border-radius: 4px; border: solid 1px #ffffff; -webkit-box-sizing: border-box; box-sizing: border-box; }
.gj-sp .sp-r .sign-in { padding: 0 20px; }
.gj-sp .sp-r .sign-in input { width: 100%; height: 40px; line-height: 40px; background-color: #ffffff; margin-bottom: 15px; }
.gj-sp .sp-r .sign-in input[type="submit"] { color: #fff; background: url(../images/icon_4.png) no-repeat 68% #f05630; text-indent: -2em; }

.gj-tt { padding: 40px 0; background-color: #f7f8fa; }
.gj-tt .tt-cont { text-align: center; color: #fff; padding-top: 30px; }
.gj-tt .tt-cont ul { margin-right: -20px; }
.gj-tt .tt-cont li { float: left; width: 386px; height: 400px; background: url(../images/bg_9.png) no-repeat; padding: 35px; -webkit-box-sizing: border-box; box-sizing: border-box; margin-right: 20px; }
.gj-tt .tt-cont .avatar { width: 108px; height: 108px; background-color: #5567be; -webkit-box-shadow: 0px 10px 25px 0px rgba(7, 18, 73, 0.2); box-shadow: 0px 10px 25px 0px rgba(7, 18, 73, 0.2); border-radius: 50%; padding: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.gj-tt .tt-cont .name { font-size: 24px; font-weight: bold; padding: 28px 0 19px; margin-bottom: 16px; position: relative; }
.gj-tt .tt-cont .name::after { content: ""; width: 20px; height: 4px; background-color: #ffffff; border-radius: 2px; position: absolute; left: 0; right: 0; bottom: 0; margin: auto; }
.gj-tt .tt-cont p { text-align: left; }

.gj-sc { padding: 40px 0 30px; }
.gj-sc .sc-cont { padding-top: 30px; }
.gj-sc ul { margin-right: -19px; }
.gj-sc li { width: 285px; float: left; text-align: center; margin-right: 19px; }
.gj-sc li img { margin-bottom: 10px; }
.gj-sc li:nth-of-type(2n + 2) .sc-title { background-image: -webkit-gradient(linear, left bottom, left top, from(#2a3a88), to(#3e50a9)), -webkit-gradient(linear, left top, left bottom, from(#2a3a88), to(#2a3a88)); background-image: linear-gradient(0deg, #2a3a88 0%, #3e50a9 100%), linear-gradient(#2a3a88, #2a3a88); }
.gj-sc .sc-title { width: 100px; height: 40px; line-height: 40px; background-image: -webkit-gradient(linear, left bottom, left top, from(#f05630), to(#f57240)), -webkit-gradient(linear, left top, left bottom, from(#f05630), to(#f05630)); background-image: linear-gradient(0deg, #f05630 0%, #f57240 100%), linear-gradient(#f05630, #f05630); background-blend-mode: normal, normal; border-radius: 20px 0px 20px 0px; font-size: 18px; font-weight: bold; color: #ffffff; margin-bottom: 10px; }
.gj-sc p { color: #666666; }

.gj-zs { padding: 30px 0 40px; background: url(../images/bg_1.png) no-repeat; }
.gj-zs .zs-cont { background: url(../images/bg_6.png) no-repeat; margin-top: 28px; padding: 30px; }
.gj-zs .zs-l { width: 573px; color: #fff; }
.gj-zs .zs-l p { font-size: 16px; }
.gj-zs .zs-l ul { padding-top: 20px; }
.gj-zs .zs-l li { width: 284px; line-height: 34px; color: #dddddd; }
.gj-zs .zs-l li img { margin-right: 6px; }
.gj-zs .zs-l li img, .gj-zs .zs-l li span { vertical-align: middle; }
.gj-zs .zs-l .l-btn { padding-top: 20px; }
.gj-zs .zs-l .l-btn a { width: 120px; height: 40px; line-height: 40px; border: solid 1px #ffffff; -webkit-box-sizing: border-box; box-sizing: border-box; color: #fff; text-align: center; margin-right: 8px; }
.gj-zs .zs-l .l-btn a.active, .gj-zs .zs-l .l-btn a:hover { border: none; background-image: -webkit-gradient(linear, left bottom, left top, from(#f05630), to(#f57240)); background-image: linear-gradient(0deg, #f05630 0%, #f57240 100%); }

.gj-adv { padding: 30px 0 40px; background: url(../images/bg_2.png) no-repeat; }
.gj-adv .gj-title { color: #ccc; }
.gj-adv .gj-title span { color: #fff; }
.gj-adv .adv-cont { background: #fff; margin-top: 28px; }
.gj-adv .adv-cont li { float: left; min-width: 300px; height: 200px; font-size: 30px; line-height: 40px; color: #2a3a88; text-align: center; position: relative; }
.gj-adv .adv-cont li .txt { width: 300px; height: 80px; position: absolute; top: 0; bottom: 0; margin: auto; }

.gj-ap { padding: 30px 0 40px; background-color: #f7f8fa; }
.gj-ap .ap-cont { padding-top: 28px; }
.gj-ap .ap-l li { float: left; width: 200px; height: 160px; background-image: -webkit-gradient(linear, left bottom, left top, from(#2a3a88), to(#3e50a9)), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)); background-image: linear-gradient(0deg, #2a3a88 0%, #3e50a9 100%), linear-gradient(#ffffff, #ffffff); text-align: center; padding: 30px 0; -webkit-box-sizing: border-box; box-sizing: border-box; }
.gj-ap .ap-l li img { margin-bottom: 14px; }
.gj-ap .ap-l .jt { float: left; margin: 70px 20px; }
.gj-ap .ap-l .txt { color: #fff; font-size: 16px; line-height: 16px; }
.gj-ap .ap-r { padding-top: 33px; }
.gj-ap .ap-r a { display: block; width: 186px; margin-bottom: 15px; text-align: center; color: #fff; }
.gj-ap .ap-r .icon { width: 14px; height: 14px; background: url(../images/icon_4.png) no-repeat; margin-left: 4px; }
.gj-ap .ap-r span, .gj-ap .ap-r .icon { vertical-align: middle; }

.gj-c { padding: 30px 0 20px; }
.gj-c .c-cont { padding-top: 28px; }
.gj-c .c-cont ul { margin-right: -20px; }
.gj-c .c-cont li { float: left; margin: 0 20px 20px 0; }

.gj-t { padding: 30px 0 38px; background-color: #f7f8fa; }
.gj-t .t-cont { padding-top: 28px; }
.gj-t .t-l { width: 900px; height: 280px; background: url(../images/bg_3.png) no-repeat; padding: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.gj-t .t-l .txt { width: 464px; font-size: 16px; color: #fff; margin-left: 30px; }
.gj-t .t-l .txt p { padding-top: 10px; }
.gj-t .t-l .txt p span, .gj-t .t-l .txt p img { vertical-align: middle; }
.gj-t .t-l .txt p img { margin-left: 10px; }
.gj-t .t-r { width: 280px; height: 280px; background: url(../images/bg_4.png) no-repeat; }
.gj-t .t-r .name { font-size: 24px; padding: 28px 0 19px; margin-bottom: 16px; color: #fff; text-align: center; position: relative; }
.gj-t .t-r .name::after { content: ""; width: 20px; height: 4px; background-color: #ffffff; border-radius: 2px; position: absolute; left: 0; right: 0; bottom: 0; margin: auto; }
.gj-t .t-r .sign-in { padding: 0 20px; }
.gj-t .t-r .sign-in input { width: 100%; height: 40px; line-height: 40px; background-color: #ffffff; margin-bottom: 15px; }
.gj-t .t-r .sign-in input[type="submit"] { color: #fff; background: url(../images/icon_4.png) no-repeat 68% #f05630; text-indent: -2em; }

.gj-ca { padding: 40px 0 0; }
.gj-ca .ca-cont { padding-top: 30px; }
.gj-ca .ca-cont li { float: left; margin-bottom: 26px; }
.gj-ca .ca-cont .ca-l { margin-right: 18px; }
.gj-ca .ca-cont .ca-r { width: 1150px; }
.gj-ca .ca-cont .ca-r .r-title { font-size: 20px; font-weight: bold; margin-bottom: 20px; }
.gj-ca .ca-cont .ca-r .txt { padding: 30px 16px 30px 26px; background-color: #f5f7fa; color: #666666; position: relative; }
.gj-ca .ca-cont .ca-r .txt::before { content: ""; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #f5f7fa; position: absolute; left: 22px; top: -10px; }

.gj-ce { padding: 40px 0; }
.gj-ce .more { font-size: 16px; line-height: 37px; color: #2a3a88; cursor: pointer; }
.gj-ce .ce-l, .gj-ce .ce-r { width: 580px; }
.gj-ce .gj-title { margin-bottom: 28px; }
.gj-ce .ce-lbt { height: 360px; position: relative; }
.gj-ce .ce-lbt .bd { position: absolute; }
.gj-ce .ce-lbt .prev, .gj-ce .ce-lbt .next { width: 36px; height: 78px; cursor: pointer; position: absolute; top: 0; bottom: 0; margin: auto; z-index: 20; }
.gj-ce .ce-lbt .prev { background: url(../images/s_l.png) no-repeat; }
.gj-ce .ce-lbt .next { background: url(../images/s_r.png) no-repeat; right: 0; }

.gj-footer { height: 60px; line-height: 60px; background-color: #f5f7fa; color: #999999; text-align: center; }

.susp-site { height: 90px; }

.gj-susp { width: 100%; height: 172px; position: fixed; bottom: 0; background: url(../images/ff.png) no-repeat center; }
.gj-susp .sign-in { padding: 107px 0 0 466px; }
.gj-susp input { width: 240px; height: 40px; line-height: 40px; margin-left: 8px; }
.gj-susp input[type="submit"] { width: 220px; color: #fff; background: url(../images/icon_4.png) no-repeat 64% #f05630; text-indent: -2em; }

.gj-popup { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 30; display: none; }
.gj-popup .masklayer { position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
.gj-popup .popup-cont { width: 591px; height: 373px; position: absolute; top: 30%; left: 34%; z-index: 1; padding: 193px 35px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(../images/tc.png) no-repeat center; }
.gj-popup .popup-cont .popup-close { width: 17px; height: 16px; position: absolute; top: 33px; right: 10px; cursor: pointer; margin-right: 0; }
.gj-popup .popup-cont .sign-in { height: 160px; padding: 30px 12px 10px 28px; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 14px; background-color: #ffffff; border-radius: 4px; }
.gj-popup .popup-cont .sign-in input { float: left; width: 224px; height: 40px; line-height: 40px; background-color: #ffffff; border: solid 1px #dddddd; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0 16px 20px 0; }
.gj-popup .popup-cont .sign-in input[type="submit"] { border: none; background-color: #f9ab23; border-radius: 20px; color: #fff; cursor: pointer; }
.gj-popup .popup-cont .sign-in a { width: 224px; height: 40px; line-height: 40px; background-color: #f3613c; border-radius: 20px; text-align: center; color: #fff; }

/*# sourceMappingURL=index.css.map */